{% extends "base.html" %}

{% block title %}Couse Page{% endblock %}

{% block content %}
<h1>Welcome to Registration</h1>

<h2>Available Courses</h2>

<ul>
    {% for course in courses %}
    <li>{{ course.code }} - {{ course.name }} ({{ course.seats }} seats available)
        {% if course.is_quota_open %}
        <a href="{% url 'request_quota' course.id %}">Request Quota</a>
        {% else %}

        Quota request closed
        {% endif %}
    </li>

    {% endfor %}
    <a href="{% url 'my_quota_requests' %}">View My Quota Requests</a>
    <form action="/" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

</ul>

{% endblock %}